*.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

axiprop/*.DS_Store
axiprop/__pycache__
axiprop/*.pyc
axiprop/.ipynb_checkpoints/

axiprop/utils_priv.py

build/
dist/
axiprop.egg-info/
.cache/
.eggs/