*.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

axiprop/*.DS_Store
axiprop/__pycache__
axiprop/*.pyc
axiprop/.ipynb_checkpoints/

scripts/*.DS_Store
scripts/__pycache__
scripts/*.pyc
scripts/.ipynb_checkpoints/

build/
dist/
axiprop.egg-info/
.cache/
.eggs/